* {
    margin: 0;

    padding: 0;

    box-sizing: border-box;

}


body {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background: linear-gradient(135deg, #0d97a1, #2cc527);

    color: #333;

    display: flex;

    align-items: center;

    justify-content: center;

    height: 120vh;

    background-image: url(bola.jpg);

    background-position: center;
    background-size: cover;

}


.container {
    background-color: #ffffff50;

    padding: 30px 40px;

    border-radius: 12px;

    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
    width: 100%;

    max-width: 500px;
    font-weight: bold;

}



.container h1 {
    text-align: center;

    color: #0d47a1;

    margin-bottom: 10px;
    font-weight: bold;

}


.container p {
    text-align: center;

    margin-bottom: 20px;

    font-size: 14px;

    color: #666;
    font-weight: bold;
}


form label {
    display: block;

    margin-bottom: 6px;

    font-weight: 600;

    font-size: 14px;

    color: #333;

    font-weight: bold;

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"],
select,
textarea {
    width: 100%;

    padding: 10px;

    border: 1px solid #ccc;

    border-radius: 8px;

    margin-bottom: 15px;

    font-size: 14px;

    transition: 0.3s;



}


input:focus,
select:focus,
textarea:focus {
    border-color: #0d47a1;

    outline: none;

    box-shadow: 0 0 5px rgba(13, 71, 161, 0.3);

}


.radio-group {
    display: flex;

    gap: 15px;

    margin-bottom: 15px;

}


.checkbox {
    display: flex;

    align-items: center;

    font-size: 14px;

    margin-bottom: 20px;

}


button {
    background-color: #0d47a1;

    background: linear-gradient(135deg, #2cc527, #0d97a1);
    color: white;

    border: none;

    padding: 12px;

    border-radius: 8px;

    width: 100%;

    font-size: 16px;

    cursor: pointer;

}


button:hover {
    background-color: #1874dd;

    transition: all 0.3s ease;
    transform: scale(1.1);
}